@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Material-Icons/Material-Icons.eot);
  src: local('Material Icons'), url(../fonts/Material-Icons/Material-Icons.eot?#iefix) format('embedded-opentype');
}

